:host {
  --duo-input-color--base: var(--duo-color--base);
  --duo-input-color--border: var(--duo-color--border-400);
  --duo-input-color--gradient: var(--duo-color--gradient-400);
  --duo-input-font--color: var(--duo-font-color);
  --duo-input-radius: var(--duo-radius);

  align-items: baseline;
  background: var(--duo-input-color--base);
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: var(--duo-input-radius);
  box-sizing: border-box;
  display: flex;
  padding: 0;
  position: relative;
  width: 100%;
}

:host:before,
:host:after {
  background: transparent;
  content: "";
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

:host:before {
  background: var(--duo-input-color--border);
  border-radius: inherit;
  margin: -1px;
  z-index: -1;
}

:host(:focus-within):before,
:host(:hover):before {
  background: var(--duo-input-color--gradient);
}

:host:after {
  background: transparent;
  opacity: var(--duo-opacity);
  border-radius: calc(1.5 * var(--duo-input-radius));
  z-index: -2;
  margin: 0;
  transition: 300ms ease-in-out;
}

:host(:focus-within):after {
  background: var(--duo-input-color--gradient);
  margin: -4px;
}

/**
 * Input is using custom order elements thanks to flex box.
 * The reason behind is to be able to 'disable' left or right padding of input,
 * when prefix or suffix is applied.
 */

input {
  border: none;
  background-color: var(--duo-input-color--base);
  border-radius: var(--duo-input-radius);
  box-sizing: border-box;
  color: var(--duo-input-font--color);
  font-size: calc(1rem * 0.875);
  font-family: var(--duo-font-family);
  height: 44px;
  line-height: 1;
  order: 1;
  padding: 0 calc(1em * 1.4);
  width: 100%;
}

input:focus {
  outline: none;
}

.extra {
  background: transparent;
  align-self: stretch;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
}

/* Prefix */
:host .extra {
  order: 0;
}

/* Suffix */
:host .extra + .extra {
  order: 2;
}

/* Do not show prefix or suffix if they are empty */
.extra:empty {
  padding: 0;
}

/* Prefix is filled, so remove left padding of input */
.extra:not(:empty) + input {
  padding-left: 0;
}

/* Suffix is filled, so remove right padding of input */
.extra + .extra:not(:empty) + input {
  padding-right: 0;
}


:host([disabled]) {
  --duo-input-color--base: var(--duo-color--border-200);
  --duo-input-font--color: var(--duo-color--border-800);
  --duo-input-color--gradient: var(--duo-color--border-400);
}
