button {
  --duo-button-color--gradient: var(--duo-color--gradient-400);
  --duo-button-color--background: var(--duo-color--base);
  --duo-button-color--border: var(--duo-color--border-400);
  --duo-button-font--color: var(--duo-font-color);

  align-items: center;
  background: var(--duo-button-color--background);
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: var(--duo-radius);
  box-sizing: border-box;

  color: var(--duo-button-font--color);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--duo-font-family);
  font-size: calc(1rem * 0.875);
  font-weight: 400;
  line-height: 1;
  height: 44px;

  margin: 0;
  padding: 0 calc(1em * 1.8);
  position: relative;
  /* transition: 300ms ease-in-out; */
  user-select: none;
  outline: none;
}

button:before,
button:after {
  background: transparent;
  content: "";
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

button:after {
  background: transparent;
  opacity: var(--duo-opacity);
  border-radius: calc(1.5 * var(--duo-radius));
  z-index: -2;
  margin: 0px;
  transition: 300ms ease-in-out;
}

button:before {
  background: var(--duo-border-400);
  border-radius: inherit;
  margin: -1px;
  z-index: -1;
}

button:focus:before,
button:hover:before {
  background: var(--duo-button-color--gradient);
}

button:focus:after {
  background: var(--duo-button-color--gradient);
  margin: -4px;
}

button[disabled] {
  --duo-button-color--background: var(--duo-color--border-200);
  --duo-button-color--gradient: var(--duo-color--border-400);
  --duo-button-font--color: var(--duo-color--border-800);

  cursor: not-allowed;
}
