:host {
  --duo-caption--color: var(--duo-border-600);

  align-items: center;
  color: var(--duo-caption--color);
  display: flex;
  line-height: 1.5;
  font-size: var(--duo-font-size--supplementary);
  font-family: var(--duo-font-family);
  font-weight: 400;
}
