@import "grid";
@import "helpers";
@import "typography";

:root {
  --duo-border-200: #fbfbfc;
  --duo-border-400: #d7dbe2;
  --duo-border-600: #b2bac8;
  --duo-border-800: #8d99ae;

  --duo-background-400: #ffffff;

  --duo-color-400: linear-gradient(45deg, #61d4b3, #fdd365);

  --duo-color-uno-400: #61d4b3;
  --duo-color-duo-400: #fdd365;

  --duo-radius: 4px;
  --duo-opacity: 0.4;

  --duo-vertical-rhythm: calc(1rem * 1.5);

  --duo-font-color: hsl(0, 0%, 7%);
  --duo-font-size--supplementary: calc(1rem * 0.875 * 0.875);
  --duo-font-size--base: calc(1rem * 0.875);
  --duo-font-size--regular: 1rem;
  --duo-font-size: var(--duo-font-size--regular);
  --duo-font-scale: 1.2;
  --duo-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Arial, sans-serif;
}

.error {
  --duo-color-400: linear-gradient(45deg, #c02739, #ff7c7c);
}
